body {
  font-family: Arial, Helvetica, sans-serif;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('background.png');
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}
