body {
  font-family: 'Gelasio', serif;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: url('background.png');*/
}

html { 
  background: url('background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background: rgba(255,255,255,0.6);
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 15%;
  border-radius: 20px;
  height: 350px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  margin: inherit;
}

.header h1 {
  font-size: 50px;
}
.header h3 {
  font-size: 30px;
}

.nav {
  list-style:none;
  padding:0;
  text-align:center;
}

.nav li {
  display:inline;
}

.nav a {
  display:inline-block;
  padding:10px;
  background:rgba(255,255,255,0.7);
  border-radius: 10px;
  margin-right: 3%;
  margin-left: 3%;
  font-family: 'Gelasio', serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
